
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <h4 style="font-size: 2rem;">&copy ❤️<%= new Date().getFullYear()%> ┋Ҏ𝗹@𝐧𝔢ț✗</h4>
  </div>
</div>
</body>
<script src="index.js" type="text/javasript" ></script>
</html>
