<%- include("partials/head2.ejs") -%>
<footer class="footer1">
    <div class="about">
        <h1>About Hospitals</h1>
        <p>The relentless service of Hospitals in the past 25 years taken health care to the most modern levels in
            the region catering to urban & rural.</p><br><br>
        <p>A Health Care Provider of Western Approach, Hospitals is the most trusted multispecialty hospital.</p>
    </div>
    <div class="links">
        <h1>Usefull Essentials</h1>
        <div class="lists">
            <ul>
                <li>About Us</li>
                <li>Awards</li>
                <li>Consultants</li>
                <li>Working Hours</li>
                <li>Procedures</li>
                <li>Special Offers</li>
                <li>FAQ's</li>
            </ul>
            <ul>
                <li>Services</li>
                <li>Healthy Foods</li>
                <li>Appoinments</li>
                <li>Latest News</li>
                <li>Certificates</li>
                <li>Qualifications</li>
            </ul>
        </div>
    </div>
    <div class="contact">
        <h1>Contact Details</h1>
        <li>SRM University,
            Ramapuram,
            Chennai-600089
        </li>
        <li>Solution Seekers</li>
        <li>+91 8524889202</li>
        <li>Mon-Sat: 9am to 18pm</li>
    </div>
    <!-- <div class="appoint">
        <h1>Make An Appoinment</h1>
        <form action="">
            <input type="text" placeholder="Your Name">
            <input type="email" placeholder="Your Email">
            <input type="text" placeholder="Your Message..">
            <input type="submit" value="SUBMIT" id="s-u-b">
        </form>
    </div> -->
</footer>
<%- include('partials/footer') %>