<%- include("partials/head2"); -%>
<h1 style="text-align:center;">Department</h1>
    <div class="department" style="margin-bottom:6rem;">
    <h1>Neurology</h1>
    Neurology is the branch of medicine that focuses on the study and treatment of disorders related to the nervous system. This complex and intricate system is responsible for controlling and coordinating various bodily functions, as well as processing and transmitting information throughout the body.
    <h1>Cardiology</h1>
    Cardiology is a branch of medical science that deals with the study, diagnosis, and treatment of heart and blood vessel disorders. The cardiology department in a healthcare facility is a specialized unit dedicated to providing comprehensive cardiovascular care.
    <h1>Pulmonology</h1>
    Pulmonology is a specialized medical field that focuses on the diagnosis, treatment, and prevention of diseases and conditions affecting the respiratory system, particularly the lungs and the airways. Pulmonologists, medical doctors who specialize in this field, are experts in managing a wide range of respiratory disorders.
    <h1>Gynecology</h1>
    The Gynecology Department in a healthcare facility is dedicated to women's reproductive and gynecological health. It plays a crucial role in providing a wide range of medical services, including preventive care, diagnosis, treatment, and education related to female reproductive health. 
    <h1>Urology</h1>
    The Urology Department in a healthcare facility specializes in the diagnosis and treatment of disorders related to the urinary system and male reproductive organs. Urologists, medical doctors with specialized training, are responsible for providing a wide range of medical services, from preventive care to surgical interventions.
</div>
    <%- include("partials/footer"); -%>