<%- include('partials/header') %>


  <div class="jumbotron centered">
    <div class="container">
      <!-- <i class="fas fa-key fa-6x"></i> -->
      <h1>SRM Dental</h1>
      <p>"Where Healing Meets Hope: Your Path to Wellness Begins Here."</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

    </div>
  </div>


  <!-- class="display-3"class="lead" -->